<div class="jumbotron">
  <h1 class="mb-5 text-center">{{title}}</h1>
  {{#if instruments}}
    <div class="card-columns">
      {{#each instruments}}
        <div class="card border-primary mb-3">
          <div class="card-header">
            <a href="/inventory/category/{{this.category_id}}">{{this.category}}</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <a href="/inventory/instrument/{{this.instrument_id}}">{{this.name}}</a>
            </h4>
            <p class="card-text instrument-description">
              {{this.description}} <a href="/inventory/instrument/{{this.instrument_id}}">...Read more</a>
            </p>
            <p class="card-text instrument-list-price">{{this.price}} $</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No instruments to display</p>
  {{/if}}
</div>
